<h1>{{title}}</h1>
<nav>
  <a routerLink="/lostitems" routerLinkActive="active">Lost Itmes</a>
  <a routerLink="/items" routerLinkActive="active">Found Items</a>
  <a routerLink="/users" routerLinkActive="active">Users</a>
  <a routerLink="/wishes" routerLinkActive="active">Wish list</a>
</nav>
<router-outlet></router-outlet>