<h2>Found Items</h2>
<div>
  <!-- modal window -->
  <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="newItemModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Found Item</h4>
          </div>
          <div class="modal-body">
            <p> {{errorText}} </p>
            <input #itemName class="form-control" id="inputItemName" placeholder="Item name"> <br>
            <input #itemWeight class="form-control" id="inputItemWeight" placeholder="Item weight"> <br>
            <input #itemColor class="form-control" id="inputItemColor" placeholder="Item color"> <br>
            <input #itemPhoto class="form-control" id="inputItemPhoto" placeholder="Item photo"> <br>
            <input #itemCategory class="form-control" id="inputItemCategory" placeholder="Item category"><br>

            <!-- DATEPICKER -->
            <div class="form-group">
              <input #itemDateAdded id="myDate"  name="myDate"  type="date"  [(ngModel)]="readDate"  class="form-control"  />
          </div>

          <!-- RATING -->
          <fieldset class="rating">
            <input type="radio" value="5" [name]="inpustName" [checked]="rating===5" />
            <label title="Rocks!" (click)='onClickRating(5)'>5 stars</label>

            <input type="radio" value="4" [name]="inpustName" [checked]="rating===4" />
            <label title="Pretty good" (click)='onClickRating(4)'>4 stars</label>

            <input type="radio" value="3" [name]="inpustName" [checked]="rating===3" />
            <label title="Meh" (click)='onClickRating(3)'>3 stars</label>

            <input type="radio" value="2" [name]="inpustName" [checked]="rating===2" />
            <label title="Kinda bad" (click)='onClickRating(2)'>2 stars</label>

            <input type="radio" value="1" [name]="inpustName" [checked]="rating===1" />
            <label title="Sucks big time" (click)='onClickRating(1)'>1 star</label>
          </fieldset>
          <br> <br>
        </div>

        <div class="modal-footer">
          <button (click)="add(itemName.value, itemWeight.value, itemColor.value, itemPhoto.value, itemCategory.value); 
              itemName.value=''; itemWeight.value=''; itemColor.value=''; itemPhoto.value=''; itemCategory.value=''; itemDateAdded.value=''">
                Add Item
              </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<button data-toggle="modal" data-target="#newItemModal">
    Add New Item
  </button>
<br><br>

<h3> Found items database: </h3>

<button (click)="unfilterOrUnsort();">
      All data
    </button>

<button (click)="filterByCategory(itemFilterCategory.value);">
    Filter by category
  </button>
<label>Category:</label> <input #itemFilterCategory /><br><br>

<button (click)="sortByName();">
      Sort by name
    </button>

<button (click)="sortByWeight();">
        Sort by weight
      </button>

<button (click)="sortByDate();">
    Sort by newest date
  </button>
</div>

<ul class="items">
  <li *ngFor="let item of items" [routerLink]="['/detail', item.id]" (click)="onSelect(item)" [class.selected]="item === selectedItem">
    <span class="badge">{{item.id}}</span>
    <span>{{item.name}}
  </span>
  </li>
</ul>