<div *ngIf="item">
  <h2>{{item.name}} details!</h2>
  <div>
    <label>id: </label>{{item.id}}
  </div>
  <div>
    <label>name: </label> {{item.name}}
  </div>
  <div>
    <label>weight: </label> {{item.weight}} g
  </div>
  <div>
    <label>color: </label> {{item.color}}
  </div>
  <div>
    <label>category: </label> {{item.category}}
  </div>
  <div>
    <label>date added: </label> {{item.dateAdded | date :'longDate'}}
  </div>
  <div>
    <label>rating: </label> {{item.rating}}
  </div>
  <div>
    <img src={{item.photo}} class="img-circle" alt="Cinque Terre" width="304" height="236">
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="enableWishAdd()">Browse users</button>

  <div *ngIf="addWishEnabled">
    <h2>
      {{item.name | uppercase}} is ready to be assigned. Choose user:
    </h2>
    <ul class="items">
      <li *ngFor="let user of users" (click)="onSelect(user)" [class.selected]="user === selectedUser">
        <span class="badge">{{user.id}}</span>
        <span>{{user.name}}
          </span>
      </li>
    </ul>
    <button (click)="addWish()">Add to wish list</button>
    <button (click)="giveBackToOwner()">Give back to owner</button>
  </div>
</div>