<div *ngIf="item">
  <h2>{{item.name}} details!</h2>
  <div>
    <label>id: </label>{{item.id}}
  </div>
  <div>
    <label>name: </label> {{item.name}}
  </div>
  <div>
    <label>weight: </label> {{item.weight}} g
  </div>
  <div>
    <label>color: </label> {{item.color}}
  </div>
  <div>
    <label>category: </label> {{item.category}}
  </div>
  <div>
    <label>date added: </label> {{item.dateAdded | date :'longDate'}}
  </div>
  <div>
    <img src={{item.photo}} class="img-circle" alt="Cinque Terre" width="304" height="236">
  </div>
  <button (click)="goBack()">Back</button>
</div>