<h2>Lost Items</h2>

<!-- modal window -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="newItemModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Lost Item</h4>
        </div>
        <div class="modal-body">
          <p> {{errorText}} </p>
          <input #itemName class="form-control" id="inputItemName" placeholder="Item name"> <br>
          <input #itemWeight class="form-control" id="inputItemWeight" placeholder="Item weight"> <br>
          <input #itemColor class="form-control" id="inputItemColor" placeholder="Item color"> <br>
          <input #itemPhoto class="form-control" id="inputItemPhoto" placeholder="Item photo"> <br>
          <input #itemCategory class="form-control" id="inputItemCategory" placeholder="Item category"><br>

          <!-- DATEPICKER -->
          <div class="form-group">
            <input #itemDateAdded id="myDate"  name="myDate"  type="date"  [(ngModel)]="readDate"  class="form-control"  />
        </div>
        <br> <br>
      </div>

      <div class="modal-footer">
        <button (click)="add(itemName.value, itemWeight.value, itemColor.value, itemPhoto.value, itemCategory.value); 
              itemName.value=''; itemWeight.value=''; itemColor.value=''; itemPhoto.value=''; itemCategory.value=''; itemDateAdded.value=''">
                Add Item
              </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<br>

<button data-toggle="modal" data-target="#newItemModal">
      Add New Item
    </button>
<br><br>

<div>
  <h3> Lost items database: </h3>

  <button (click)="unfilterOrUnsort();">
      All data
    </button>

  <button (click)="filterByCategory(itemFilterCategory.value);">
    Filter by category
  </button>
  <label>Category:</label> <input #itemFilterCategory /><br><br>

  <button (click)="sortByName();">
      Sort by name
    </button>

  <button (click)="sortByWeight();">
        Sort by weight
      </button>

  <button (click)="sortByDate();">
    Sort by newest date
  </button>
</div>

<ul class="items">
  <li *ngFor="let item of items" [routerLink]="['/lostdetail', item.id]" (click)="onSelect(item)" [class.selected]="item === selectedItem">
    <span class="badge">{{item.id}}</span>
    <span>{{item.name}}
  </span>
  </li>
</ul>