<h2>Users</h2>
<div>
  <br><br>

  <div class="container">
    <!-- Modal -->
    <div *ngIf="selectedUser">
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">User profile</h4>
            </div>
            <div class="modal-body">
              <label>color: </label> {{selectedUser.id}}
              <p> Id: {{selectedUser.id}} </p>
              <p> Name: {{selectedUser.name}} </p>
              <p> City: {{selectedUser.city}} </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul class="items">
    <li *ngFor="let user of users" (click)="onSelect(user)" [class.selected]="user === selectedUser">
      <span class="badge">{{user.id}}</span>
      <span>{{user.name}}
  </span>
    </li>
  </ul>

  <button class="details" data-toggle="modal" data-target="#myModal">Details</button>