<h2>Wish list</h2>
<div>
    <br><br>

    <ul class="items">
        <li *ngFor="let wish of wishes" (click)="onSelect(wish)" [class.selected]="wish === wishUser">
            <span class="badge">{{wish.id}}</span>
            <span>"{{wish.itemName}}" is a wish of "{{wish.userName}}" </span>
        </li>
    </ul>

    <button (click)="showHistory()">Show history</button>

    <div *ngIf="showHistoryEnabled">
        <ul class="history">
            <li *ngFor="let historyRow of history" (click)="onSelect(historyRow)" [class.selected]="history === selectedHistory">
                <span class="badge">{{historyRow.id}}</span>
                <span>{{historyRow.itemName}} / {{historyRow.userName}} </span>
            </li>
        </ul>
    </div>